body{
    font-family: 'Poppins', sans-serif;

}


h1{
    font-size: 35px;
    margin-left: 6px;
    line-height: 15px;

}
.adjust{
    border-left: 3.5px solid salmon;
    height: 67px;
    margin-top: 60px;
    
}
.yellowcolor{
    color: orange;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.pech{
    margin-top: 50px;
}
.half{
    width: 50%;
    padding-left: 6%;
}
.half img{
    width: 60%;

}
.pic{
padding-top: 10px;
}
.explore{
    text-decoration: none;
background-image: linear-gradient(orange ,red);
color: white;
font-size: small;
   padding: 5px 48px;
   border-radius: 5PX;
}
.document{
    text-decoration: none;
background-image: linear-gradient(orange ,red);
color: white;
font-size: small;
   padding: 5px 48px;
   border-radius: 5PX;
}
.devlop{
    margin-bottom: 100px;
}
.cook{
    padding-left: 100px;
}
.single{
margin-right: 150px;
}
#center{
    margin-bottom: 30px;
}
.third{
    margin-bottom: 100px;
}
.hello{
    background-color: turquoise;
    border-radius: 5%; 
    
}
.hey{
    background-color: thistle;
   margin-left: 6%;
   border-radius: 5%;

}
.hi{
    background-color: wheat;
    margin-left: 6%;
    border-radius: 5%;
}
#center{
    text-align: center;
    margin-bottom: 40px;
}
.main{
    width: 23%;
    margin-left: 60px;
    margin-right: 50px;
    padding-left: 20px;

} 
.chovi{
    width: 150px;
}
.main img{
    width: 100%;
}
.fourth{
    margin-bottom: 100px;
}
.small-container{
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.offer{
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #777;
  font-size: 16px;
 
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer h1{
    padding-top: 30px;
}
footer h1 #red {
    color: red;
    font-size: 40px;
    
}



